services:
  checkmk:
    # feature equivalent to enterprise edition but just 30 days trial
    # nice to check extension GUI stuff
    image: checkmk-kubernetes_namespaces
    build:
      context: .
      dockerfile: dockerfiles/checkmk/Dockerfile
      args:
        CHECKMK_VERSION: 2.4.0p19
        CMK_PASSWORD: cmkadmin
        CMK_SITE_ID: cmk
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      TZ: Europe/Berlin
    volumes:
      # meta-info about package for Checkmk extensions management
      #- ${PWD}/mkp/var/check_mk/packages/kubernetes_namespaces:/omd/sites/cmk/var/check_mk/packages/kubernetes_namespaces
      # agent plugin to run on monitored hosts
      - ${PWD}/mkp/local/share/check_mk/agents/plugins/kubernetes_namespaces:/omd/sites/cmk/local/share/check_mk/agents/plugins/kubernetes_namespaces
      # bakery - not fully upgraded to the new layout in Checkmk 2.4 itself
      - ${PWD}/mkp/local/lib/python3/cmk/base/cee/plugins/bakery/kubernetes_namespaces.py:/omd/sites/cmk/local/lib/python3/cmk/base/cee/plugins/bakery/kubernetes_namespaces.py
      # already updated part of plugin
      - ${PWD}/mkp/local/lib/python3/cmk_addons/plugins/kubernetes_namespaces:/omd/sites/cmk/local/lib/python3/cmk_addons/plugins/kubernetes_namespaces
