services:
  checkmk:
    # feature equivalent to enterprise edition but just 30 days trial
    # nice to check extension GUI stuff
    image: checkmk-yum
    build:
      context: .
      dockerfile: dockerfiles/checkmk/Dockerfile
      args:
        CHECKMK_VERSION: 2.4.0p19
        CMK_PASSWORD: cmkadmin
        CMK_SITE_ID: cmk
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      TZ: Europe/Berlin
    volumes:
      - ${PWD}/mkp/lib/python3/cmk/base/plugins/agent_based/kubernetes_namespaces.py:/omd/versions/default/lib/python3/cmk/base/plugins/agent_based/kubernetes_namespaces.py
      - ${PWD}/mkp/lib/python3/cmk/base/cee/plugins/bakery/kubernetes_namespaces.py:/omd/versions/default/lib/python3/cmk/base/cee/plugins/bakery/kubernetes_namespaces.py
      - ${PWD}/mkp/agents/plugins/kubernetes_namespaces:/omd/versions/default/share/agents/plugins/kubernetes_namespaces
      - ${PWD}/mkp/web/plugins/metrics/kubernetes_namespaces.py:/omd/versions/default/share/web/plugins/metrics/kubernetes_namespaces.py
      - ${PWD}/mkp/web/plugins/wato/kubernetes_namespaces.py:/omd/versions/default/share/check_mk/web/plugins/wato/kubernetes_namespaces.py
      - ${PWD}/mkp/web/plugins/wato/kubernetes_namespaces_cee.py:/omd/versions/default/share/check_mk/web/plugins/wato/kubernetes_namespaces_cee.py

